.our-best {
	background: url("./bg.jpg") center / cover no-repeat;
	padding: 80px 15px 110px;
	// .our-best__title
	&__title {
		text-align: center;
		font-weight: 400;
		font-size: 24px;
		line-height: 35px;
		margin: 0px 0px 40px 0px;
	}
	// .our-best__cards
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 70px;
		row-gap: 15px;
		@media (max-width: 992px) {
			column-gap: 30px;
		}
		@media (max-width: 767.98px) {
			column-gap: 15px;
		}
		
	}
}
