.goods {
	display: flex;
	justify-content: center;
	column-gap: 80px;
	margin: 70px 0px;
	position: relative;
	&::after {
		content: "";
		height: 1px;
		background-color: #000;
		width: 240px;
		position: absolute;
		bottom: -60px;
		left: 50%;
		transform: translateX(-50%);
	}
	// .beans__img
	&__img {
		width: 272px;
		height: 355px;
		object-fit: cover;
		filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
	}
	// .beans__body
	&__body {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	// .beans__title
	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 35px;
		margin: 0px 0px 15px 0px;
	}
	// .beans__text
	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		max-width: 346px;
		text-align: center;
		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}
	._icon-logo_2:before {
		content: "\e901";
		color: #000;
		font-size: 29px;
	}
}
