@font-face {
	font-family: 'icons';
	src: url('fonts/icons.eot?40vrqp');
	src: url('fonts/icons.eot?40vrqp#iefix') format('embedded-opentype'),
		url('fonts/icons.ttf?40vrqp') format('truetype'),
		url('fonts/icons.woff?40vrqp') format('woff'),
		url('fonts/icons.svg?40vrqp#icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icons' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-logo_1:before {
	content: "\e900";
	color: #fff;
}

._icon-logo_2:before {
	content: "\e901";
	color: #fff;
}